<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Metoo Analysis</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicons -->
    <link href="public/img/favicon.png" rel="icon" />
    <link href="public/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link href="public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="public/lib/animate/animate.min.css" rel="stylesheet" />
    <link
      href="public/lib/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link href="public/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link
      href="public/lib/magnific-popup/magnific-popup.css"
      rel="stylesheet"
    />

    <!-- Main Stylesheet File -->
    <link href="public/css/style.css" rel="stylesheet" />
    <link href="public/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <!--==========================
    Header
  ============================-->
    <header id="header">
      <div class="container">
        <div id="logo" class="pull-left">
          <h1><a href="#intro" class="scrollto">#METOO</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="#intro">Home</a></li>
            <li><a href="#about">About </a></li>
            <li><a href="#features">Pipeline</a></li>
            <li><a href="#advanced-features">Visualization</a></li>

            <li><a href="#team">Team</a></li>
            <li><a href="#gallery">Technology</a></li>
          </ul>
        </nav>
        <!-- #nav-menu-container -->
      </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro">
      <div class="intro-text">
        <h2>Welcome to #METOO Analysis</h2>
        <p>
          Our Goal: Suggest Targeted Approach to spread awareness and help in
          the society.
        </p>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="product-screens">
        <!-- <div
          class="product-screen-1 wow fadeInUp"
          data-wow-delay="0.4s"
          data-wow-duration="0.6s"
        >
          <img src="public/img/product-screen-1.png" alt="" />
        </div>

        <div
          class="product-screen-2 wow fadeInUp"
          data-wow-delay="0.2s"
          data-wow-duration="0.6s"
        >
          <img src="public/img/product-screen-2.png" alt="" />
        </div> -->

        <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
          <img src="public/img/analytics-sentiment-analysis.png" alt="" />
        </div>
      </div>
    </section>
    <!-- #intro -->

    <main id="main">
      <!--==========================
      About Us Section
    ============================-->
      <section id="about" class="section-bg">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">About</h3>
            <span class="section-divider"></span>
            <p class="section-description">
              We have often observed that disrespectful behavior towards women
              is due to lack of awareness or due to certain disbeliefs in the
              society.
              <br />
              <b>Our Goal:</b> Suggest Targeted Approach to spread awareness and
              help in the society.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6 about-img wow fadeInLeft">
              <img src="public/img/hdsi.jpg" alt="" />
            </div>

            <div class="col-lg-6 content wow fadeInRight">
              <h2>
                Resolution
              </h2>
              <h3>
                With more than 500,000 retweets and 12 million posts in Facebook
                within first 24 hours, #MeToo soon became a voice strong enough
                to bring down 201 Powerful Men according to The New York Times.
                Through this project we intend to analyze the virality of data
                from Data Science perspective and add value to the social cause
                behind this movement.
              </h3>
              <p><b> Our analysis</b> attempts to:</p>

              <ul>
                <li>
                  <i class="ion-android-checkmark-circle"></i> Collectively
                  analyze multiple social media platforms and identify real
                  accounts.
                </li>
                <li>
                  <i class="ion-android-checkmark-circle"></i> Cluster people
                  based on the common topics that they are discussing.
                </li>
                <li>
                  <i class="ion-android-checkmark-circle"></i> find the main
                  influencers of each of these clusters.
                </li>
                <li>
                  <i class="ion-android-checkmark-circle"></i> Analyze the
                  sentiments of these clusters.
                </li>
              </ul>
              <p>
                <b>Our Product</b> would help the government or the NGOs easily
                identify group of people with similar beliefs and rapidly spread
                awareness or broadcast legal information/helpline numbers to the
                intended clusters through the influencers.
              </p>
              <p><b>Key Features: </b>An interactive web App depicting</p>
              <ul>
                <li>
                  <i class="ion-android-checkmark-circle"></i> Tend in
                  sentiments over time.
                </li>
                <li>
                  <i class="ion-android-checkmark-circle"></i> Topic
                  distribution.
                </li>
                <li>
                  <i class="ion-android-checkmark-circle"></i> Statistical
                  insights.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- #about -->

      <!--==========================
      Product Featuress Section
    ============================-->
      <section id="features">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-4">
              <div class="section-header wow fadeIn" data-wow-duration="1s">
                <h3 class="section-title">
                  Data Science Pipeline
                </h3>
                <span class="section-divider"></span>
              </div>
            </div>

            <div class="col-lg-4 col-md-5 features-img">
              <img
                src="public/img/pipeline.png"
                alt=""
                class="wow fadeInLeft"
              />
            </div>

            <div class="col-lg-8 col-md-7 ">
              <div class="row">
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <div class="icon">
                    <i class="ion-social-twitter"></i>
                  </div>
                  <h4>Data Collection & Storge</h4>
                  <p class="description">
                    <b>Data Source:</b>
                    Instagram, Twitter
                    <br />
                    <b>Extraction:</b>
                    Scrape posts, Get tweets API client
                    <br />
                    <b>Total Volume: 1.4 GB</b>
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <div class="icon">
                    <i class="ion-wand"></i>
                  </div>
                  <h4>Data Cleaning & EDA </h4>
                  <p class="description">
                    <b>Data Cleaning:</b> Remove stopwords & unwanted
                    characters, Tag parts of speech, Lemmenting.
                    <br />
                    <b>Library:</b>
                    NLTK, TextBlob
                    <br />
                    <b>EDA:</b> get statistical insights
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <div class="icon">
                    <i class="ion-bug"></i>
                  </div>
                  <h4>Fake Account Detection</h4>

                  <p class="description">
                    <b>Goal:</b> Classify fake vs real accounts.
                    <br />
                    <b> Methods:</b>
                    Random Forest + Adaboost, NeuralNetworks Text Mining.
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <div class="icon">
                    <i class="ion-cube"></i>
                  </div>
                  <h4 class="">Topic Modelling</h4>
                  <p class="description">
                    <b>Goal:</b> Get the optimal number of topics & find the
                    dominant topics of each tweet.
                    <br />
                    <b>Model:</b> LDA, MalletLDA.
                    <br />
                    <b>Library:</b> PyLDAVis Gensim, NLTK.
                  </p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <div class="icon">
                    <i class="ion-network"></i>
                  </div>
                  <h4 class="">Network Clusters</h4>
                  <p class="description">
                    <b>Goal:</b>Design community clusters of Retweet and Topic
                    network and find primary influencers.
                    <br />
                    <b>Model:</b> LPA, Louvain Modularity, PageRank.
                    <br />
                    <b>Library:</b>SparkFrame.
                  </p>
                </div>
                <div
                  class="col-lg-6 col-md-6 box wow fadeInRight"
                  data-wow-delay="0.1s"
                >
                  <div class="icon"><i class="ion-sad-outline"></i></div>
                  <h4 class="">Sentiment Analysis</h4>
                  <p class="description">
                    <b>Goal:</b>Calculate sentiments of each topic cluster based
                    on hashtags network (scores from Loopy Belief algorithm) and
                    tweets (TextBlob score).
                    <br />
                    <b>Model:</b>Naive Bayes Classifier.
                  </p>
                </div>

                <div
                  class="col-lg-6 col-md-6 box wow fadeInRight"
                  data-wow-delay="0.3s"
                >
                  <div class="icon">
                    <i class="ion-connection-bars"></i>
                  </div>
                  <h4 class="">Visualization</h4>
                  <p class="description">
                    <b>Goal:</b>
                    Depict trend of sentiments and distribution of topics over
                    time. Compare involvement of users in MeToo as compared to
                    their popularity.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #features -->

      <!--==========================
      Product Advanced Featuress Section
    ============================-->
      <section id="advanced-features">
        <div class="features-row section-bg">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 text-center">
                    <h2>Bubble Chart</h2>
                    <p>This chart intends to display the amount of followers vs the total number of tweets of the users involved in the movement per year. The size of the bubble represents the amount of tweets dedicated to #METOO. Mouse over each bubble to display the user information, location and amount of tweets.</p>

                  </div>
                  <div class="col-12 text-left">
                    <div class="row mb-3">
                      <p class=" year-dropdown mb-1 pt-2 ml-3">Select Year:</p>

                      <div class="search_categories ml-4">
                        <div class="select">
                          <select
                            name="search_categories"
                            id="yearSelect"
                            onchange="myFunction()"
                          >
                            <option value="2017" selected>2017</option>
                            <option value="2018">2018</option>
                            <option value="2019 ">2019</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <div class="card">
                      <div class="card-body" style="background-color: snow;">
                        <div id="my_dataviz"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="features-row">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h2>Word Cloud</h2>
                <p>This word cloud displays the main words associated to the #METOO. The size of the word represents how much that particular word has been used in the tweets corpus.</p>

              </div>
              <!-- 21:9 aspect ratio -->
              <div class="embed-responsive embed-responsive-21by9">
                <iframe
                  class="embed-responsive-item"
                  src="/word_cloud"
                ></iframe>
              </div>
            </div>
          </div>
        </div>

        <div class="features-row section-bg">
          <div class="container">
            <div class="row">
            
              <div class="col-12 text-center">
                <div class="wow fadeInRight">
                    <h2>Retweet Network</h2>
                    <p>This network represents each community cluster represented by a different colour. The size of the nodes are the measure of centrality. By bigger the size of the node, more influential that node is for that particular community.</p>
                    <img src="public/img/sphere.png" alt="" style="height:700px;" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="features-row">
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center">
                    <div class="wow fadeInLeft">
                        <h2>Closer look to retweet network</h2>
                        <p>This is an enlarged version of one of the clusters shown in the previous picture. Here we get to see the labels and how people are connected to each other.</p>

                        <img src="public/img/onecluster.jpg" alt="" style="height:700px;"/>

                    </div>
                  </div>
                
                </div>
          </div>
        </div>

        <div class="features-row section-bg">
          <div class="container">
            <div class="row">
              <div class="col-6 text-center">
                <div class="wow fadeInLeft">
                    <h2> Retweet Count</h2>
                    <p>This plot represents the number of tweets that come from a retweet or a regular post from the whole dataset(Twitter+Instagram)</p>
                  <div class="embed-responsive graph embed-responsive-21by9">
                    <iframe
                      class="embed-responsive-item"
                      src="/public/html/allretweetcount.html"
                    ></iframe>
                  </div>
                </div>
              </div>
              <div class="col-6 text-center">
                <div class="wow fadeInRight">
                    <h2>Bot vs Human Count</h2>
                    <p>This plot represents the amount of bots and humans classified by our algorithm</p>

                  <div class="embed-responsive graph embed-responsive-21by9">
                    <iframe
                      class="embed-responsive-item"
                      src="/public/html/bot_human.html"
                    ></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="features-row">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                      <div class="wow fadeInLeft">
                          <h2>Predominant Languages</h2>
                          <p>This plot represents the languages involved in the movement.</p>

                        <div class="embed-responsive graph embed-responsive-21by9 h800">
                          <iframe
                            class="embed-responsive-item"
                            src="/public/html/languages.html"
                          ></iframe>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center">
                      <div class="wow fadeInRight">
                          <h2>Top 10 Locations</h2>
                          <p>This plot represents the top 10 locations with more tweets about the movement.</p>

                        <div class="embed-responsive graph embed-responsive-21by9 h850">
                          <iframe
                            class="embed-responsive-item"
                            src="/public/html/location.html"
                          ></iframe>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="wow fadeInLeft">
                            <h2>Total Number Tweets</h2>
                            <p>Total number of tweets gathered over time.</p>

                          <div class="embed-responsive graph embed-responsive-21by9 h800">
                            <iframe
                              class="embed-responsive-item"
                              src="/public/html/totalNumTweets.html"
                            ></iframe>
                          </div>
                        </div>

                        
                      </div>
                  </div>
            </div>
          </div>

        

          <div class="features-row section-bg">
              <div class="container">
                <div class="row">
                  <div class="col-6 text-center">
                      <div class="wow fadeInLeft">
                          <h2>Instagram Repost Count</h2>
                          <p>This plot represents the number of tweets that come from reposting or a regular post from the instagram dataset.</p>

                        <div class="embed-responsive graph embed-responsive-21by9">
                          <iframe
                            class="embed-responsive-item"
                            src="/public/html/instagramrwtcount.html"
                          ></iframe>
                        </div>
                      </div>

                  </div>
                  <div class="col-6 text-center">
                    <div class="wow fadeInRight">
                        <h2>Twitter Retweet Count</h2>
                        <p>This plot represents the number of tweets that come from a retweet or a regular post from the twitter dataset.</p>

                      <div class="embed-responsive graph embed-responsive-21by9">
                        <iframe
                          class="embed-responsive-item"
                          src="/public/html/twitterretweetcount.html"
                        ></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      </section>
      <!-- #advanced-features -->

      <!--==========================
      Our Team Section
    ============================-->
      <section id="team" class="section-bg">
        <div class="container">
          <div class="section-header">
            <h3 class="section-title">Our Team</h3>
            <span class="section-divider"></span>
            <p class="section-description">
           
            </p>
          </div>
          <div class="row wow fadeInUp">
            <div class="col-lg-4 col-md-6">
              <div class="member">
                <div class="pic">
                  <img src="public/img/team/ips.jpeg" alt="" />
                </div>
                <h4>Ipsita Dey</h4>
                <span>Data Scientist</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/ipsita-dey/"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="member">
                <div class="pic">
                  <img src="public/img/team/mg.jpeg" alt="" />
                </div>
                <h4>Martha García</h4>
                <span>Data Scientist </span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/marthagarciac/"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="member">
                <div class="pic">
                  <img src="public/img/team/sd.jpeg" alt="" />
                </div>
                <h4>William Anderson</h4>
                <span>Data Scientist</span>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a
                    href="https://www.linkedin.com/in/saumya-dwivedi-918505106/"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #team -->

      <!--==========================
      Gallery Section
    ============================-->
      <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Technology</h3>
            <span class="section-divider"></span>
            <p class="section-description">
              Tools used.
            </p>
          </div>

          <div class="row no-gutters">
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a
                  href="public/img/gallery/gallery-1.jpg"
                  class="gallery-popup"
                >
                  <img src="public/img/gallery/gallery-1.jpg" alt="" />
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a
                  href="public/img/gallery/gallery-2.jpg"
                  class="gallery-popup"
                >
                  <img src="public/img/gallery/gallery-2.jpg" alt="" />
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a
                  href="public/img/gallery/gallery-3.png"
                  class="gallery-popup"
                >
                  <img src="public/img/gallery/gallery-3.png" alt="" />
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a
                  href="public/img/gallery/gallery-4.jpg"
                  class="gallery-popup"
                >
                  <img src="public/img/gallery/gallery-4.jpg" alt="" />
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a
                  href="public/img/gallery/gallery-5.jpg"
                  class="gallery-popup"
                >
                  <img src="public/img/gallery/gallery-5.jpg" alt="" />
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a
                  href="public/img/gallery/gallery-6.jpg"
                  class="gallery-popup"
                >
                  <img src="public/img/gallery/gallery-6.jpg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #gallery -->
    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-lg-left text-center">
            <div class="copyright">
              &copy; Copyright <strong>SFU - Big Data</strong>. All Rights
              Reserved
            </div>
            <div class="credits">Designed by <a href="#/">Team SFU</a></div>
          </div>
          <div class="col-lg-6">
            <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
              <a href="#intro" class="scrollto">Home</a>
              <a href="#about" class="scrollto">About</a>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="public/lib/jquery/jquery.min.js"></script>
    <script src="public/lib/jquery/jquery-migrate.min.js"></script>
    <script src="public/lib/easing/easing.min.js"></script>
    <script src="public/lib/wow/wow.min.js"></script>
    <script src="public/lib/superfish/hoverIntent.js"></script>
    <script src="public/lib/superfish/superfish.min.js"></script>
    <script src="public/lib/magnific-popup/magnific-popup.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="public/js/main.js"></script>
    <script src="public/js//particles.js"></script>
    <script src="public/js/app_particles.js"></script>

    <!-- Load d3.js -->
    <script src="http://d3js.org/d3.v4.js"></script>

    <!-- Load color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- <script src="http://d3js.org/d3.v3.min.js"></script> -->
    <!-- <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script> -->

    <!-- <script src="    https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.js"></script> -->

    <!-- Create a div where the graph will take place -->

    <!-- A bit of CSS: change stroke color of circle on hover (white -> black) -->

    <script src="public/js/d3_metoo1.js"></script>
    <!-- <script src="public/js/d3_cloud.js"></script> -->
  </body>
</html>
